<h1>Mambo yanayohusu location hapa</h1>

<form autocomplete="on">
  <div class="qo qw">
      <div class="qq">
        <h3 class="qr">Add New Category</h3>
      </div>
      <div class="qp">
         <div class="el">
             <label for="categoryName">Name of Category</label>
              <input type="name" class="form-control" ng-model="category" name="name" id="category-name"  placeholder="Enter name of category" />
        </div>
         <button ng-click="save(category)" class="ce fn fh">Save</button>
      </div>
    </div>
</form>
